body{
    background-color:white;
    text-align: center;
    margin: 13% 13% 13% 13%;
    font-family: 'Times New Roman', Times, serif;
}
.search-bar{
    background-color: #EEEEEE;
    margin-left: 5%;
    margin-right: 5%;
}
div.search-bar p{
    font-size: 17px;
}
.search-bar2{
    width: 350px;
}
.btn{
    font-size: 14px;
}
div.box1{
    background-color:rgba(44, 209, 201, 0.616);
}
div.box2{
    background-color:rgba(32, 187, 179, 0.74);
    
}
div.box3{
    background-color:rgba(29, 168, 161, 0.658);
    
}
footer{
    font-size: 13.5px;
}